*{
	margin:0;
	padding:0;
}

.pisavca{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body {
    margin: 0;
    font-family:sans-serif;
    display: flex;/*razporedijo v vrsto*/
    justify-content: flex-end;/*na desno stran*/
    align-items: center;
    height: 100vh;/*velikost zaslona*/
	color: #fff;/*bela*/
	/*background:url('Ozadje.png')  no-repeat;*/
	/*background-color:#900;*/
	justify-content: center;
	background: #900;
    background: radial-gradient(circle, rgba(153, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);
	
}

	

.new-account{
	text-decoration: none;
    color: #900;/*rdeča*/
    font-weight: bold;
		
}
.vse{
	
	display: flex;
    flex-direction: column;
    align-items: center; /* centrira elementa skupaj */
    margin-left: 5vw;  /*če želiš pomakniti na desno */
	
}
.logo{
	padding-top: 30px;
	margin-left:20px;
}
.head{
	width: 400px;
    height: 185px;
    background-color: #990A2C;
    color: #fff;
    background-image: url('../photos/head.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	
}
.head a{
	color: #FBBA00;
}
.head h2{
	
	margin-left:20px;
}
.head p{
	
	margin-left:20px;
}

.Sign-in {
    background: rgba(255, 255, 255, 0.95);/*zadnja je kolko je prosojnost*/
    width: 340px;
    padding: 30px;
    border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
    color: #000;/*črna*/
    margin: auto;
}

.EP{
	font-size:11px;
	font-weight: normal;
}
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 0;
    font-size: 15px;
}
.Extra {
    display:flex;
    justify-content: space-between;/*desno levo*/
    font-size: 14px;
    margin-bottom: 10px;
}
	
.Extra a {
    text-decoration: none;
    color: #900;
    font-weight: bold;
    margin-left:50px;
}

.Extra label {
    display: inline;
    align-items: center;
}
.kvadrat{
	
	width: 20px;   
    height: 20px;
	border: none;
    border-radius: 5px;
}
.Extra span{
	color:#4e515e;
	font-weight: lighter;
	margin-top:3px;
}
.con{
	width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
	transform: skew(-15deg);
	text-align: center;
}
.soc {
    width: 100%;
	height:45px;
	border:0;
	
}
#LU{
	margin-right:5px;
	background: #4267B2;
    width: 100% !important;
	border-radius: 3px;
    width: 100%;
    height: 45px;
	transform: skew(-15deg);
	text-align: center;
}
#LD{
	margin-right:5px;
	background: #000;
    width: 100% !important;
	border-radius: 3px;
    width: 100%;
    height: 45px;
	transform: skew(-15deg);
	text-align: center;
}
#RU{
	background: #E5E5E5;
    width: 100% !important;
	border-radius: 3px;
    width: 100%;
    height: 45px;
	transform: skew(-15deg);
	text-align: center;
}
#RD{
	background: #FF9900;
    width: 100% !important;
	border-radius: 3px;
    width: 100%;
    height: 45px;
	transform: skew(-15deg);
	text-align: center;
}
	
.social {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.leg{
	font-size:10px;
	margin-left:78px;
}
.ToS{
	text-decoration:none;
	color: #900;
	
}
.and{
	color: rgba(0, 0, 0, 0.3) !important;
}  
.line {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  color: #4e515e;
  font-weight: lighter;
}

.line::before,
.line::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #ccc;
}

.line::before {
  margin-right: 10px;
}

.line::after {
  margin-left: 10px;
}

.line span {
  white-space: nowrap;
}