.pisavca{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
body {
    margin: 0;
    font-family:sans-serif;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
	color: #fff;
	/*background:url('Ozadje.png') no-repeat;*/
	justify-content: center;
	background: #900;
    background: radial-gradient(circle, rgba(153, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 86%, rgba(0, 0, 0, 1) 100%);

}
.have-account{
	text-decoration: none;
    color: #900;
    font-weight: bold;
		
}
.vse{
	display: flex;
    flex-direction: column;
    align-items: center; /* centrira elementa skupaj */
    margin-left: 5vw;  /*če želiš pomakniti na desno */
	
}
.logo{
	padding-top: 30px;
	margin-left:20px;
}
.head{
	width: 400px;
    height: 185px;
    background-color: #990A2C;
    color: #fff;
    background-image: url('../photos/head.png');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	
}
.head a{
	color: #FBBA00;
}
.head h2{
	
	margin-left:20px;
}
.head p{
	
	margin-left:20px;
}

.Sign-up {
    background: rgba(255, 255, 255, 0.95);
    width: 340px;
    padding: 30px;
    border-radius-bottom: 8px;	
    color: #000;
    margin: auto;
    max-height: 60vh;/*najvisja visina*/ 
    overflow-y: auto; /*scrollbar*/
   
}

	
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
	border-radius: 5px;
    border: 0;
    font-size: 15px;
}
select{
	width: 108%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border:0;
    font-size: 15px;
}
.con{
	width: 100%;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
	transform: skew(-15deg);
	text-align: center;
}
.policy{
	text-decoration: none;
    font-weight: bold;
    font-size: 11px;
	margin-bottom:50px;
}
.news {
    width: 100%;
    display: flex;           
    align-items: center;      
    justify-content: flex-start;
    gap: 8px; /*razmik med flex elementi*/                
    margin: 10px 0 16px 0;/*gor,desno,dol,levo*/
    text-align: left;
}
.inputs{
	font-size:11px;
	font-weight: normal;
}
.kvadrat {
  width: 18px;
  height: 18px;
  margin: 0;
}
